/ THIS IS THE SINGLE HOSPITAL VIEW...SHOWS PATIENTS, ETC
%a{:href => root_path}
	%input{:type => "button", :value => "Home"}

%h3 
	Hospital: &nbsp;
	= @hospital.name
%hr

&nbsp;&nbsp;
= link_to "(Add Patient)", new_patient_path(hospital_id: @hospital.id)

%h4 Patients:
- newpatients = @hospital.patients.select{|x| x.workflow_state != "leaving"}
/ - newpatients = newpatients.search_name("wilson")
- newpatients.each do |patient|	
	= render "show_patient", patient: patient, hospital: @hospital

= link_to " << Previous ", 'javascript:void(0)', class: "prev_patients"
&nbsp;&nbsp;
= link_to " Next >> ", 'javascript:void(0)', class: "next_patients"

/ Was making them into buttons here...
/ %a{:href => 'javascript:void(0)', class: "prev_patients"}
/ 	%input{:type => "button", :value => "<< Previous"}
/ &nbsp;&nbsp;
/ %a{:href => 'javascript:void(0)', class: "next_patients"}
/ 	%input{:type => "button", :value => "Next >>"}	


%br
%br
%hr
&nbsp;&nbsp;
= link_to "(Add Doctor)", new_doctor_hospital_path(@hospital)
%h4 Doctors:
- @hospital.doctors.each do |doc|
	%div{class: "d1"}
		= doc.name
	&nbsp;&nbsp;	
	= link_to "Delete Doctor", delete_doctor_hospital_path(@hospital, doctor: doc), method: :delete	
	%br
	%br	