/ %h2 testing

= form_for [@patient] do |f|
	/ = f.hidden_field :hospital_id, value: @hospitals.id
	= hidden_field_tag "patient[hospital_ids][]", @hospital.id
	= f.label :name, "Name:"
	= f.text_field :name
	%br
	= f.label :dateofbirth, "Date of Birth:"
	= f.text_field :dateofbirth
	%br
	= f.submit
	%a{:href => hospital_path(@hospital)}
		%input{:type => "button", :value => "Cancel"}

	

/ %a href="/patients"
/   %input type="button" value="Cancel"
    