<h4>Edit The President</h4>

<%= form_for @president do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name, placeholder: "Name" %>
  <br>
  <%= f.label :terms %>
  <%= f.text_field :terms, placeholder: "Terms" %>
  <br>
  <%= f.label :borndate %>
  <%= f.text_field :borndate, placeholder: "Born date" %>
  <br>
  <%= f.submit %>
<% end %>