&nbsp;&nbsp;
= link_to "(add new Hospital)", new_hospital_path

%h3 Hospital List
%hr
- @hospitals.each do |hospital|
	%br
	%div{class: "d1"}
		= hospital.name
		
	&nbsp;&nbsp;
	= link_to "Select",  hospital_path(hospital)
	%br

%hr
%br
%h3 Patient Search

= form_tag search_names_patients_path, method: :get do
	= text_field_tag "q", "", placeholder: "Search..."
	= submit_tag "Search"	

/ = form_tag search_names_patients_path, method: :get, remote: true do
/ 	= text_field_tag "q", "", placeholder: "Search..."
/ 	= submit_tag "Search"